{% for publisher in object_list %}
            {{ publisher.title }}<br>
            {{ publisher.description }}<br>
            {{ publisher.id }}
            <hr>
{% endfor %}

{% if page_obj.has_previous %}
        <a href="{% url 'post-list' %}?page={{ page_obj.previous_page_number }}">
        Ir a página {{ page_obj.previous_page_number }}
        </a>
{% endif %}
        La página actual es {{ page_obj.number }}
{% if page_obj.has_next %}
        <a href="{% url 'post-list' %}?page={{ page_obj.next_page_number }}">
        Ir a página {{ page_obj.next_page_number }}
        </a>
{% endif %}