{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}


<div class="row full-height valign-wrapper center-align no-margin" id="imagenResponsiveFondoPrincipal">

<div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8">
    	<p id="logoprincipal" style="margin: 0; padding: 0;" class="animated infinite pulse">WAR COMMANDER</p>
    	<p id="logo" style="margin-top: -50; padding: 0;">LOK'TAR OGAR!</p>
    </div>
    <div class="col s12 m4 l2"><p></p></div>

</div>


<div class="row" style="height: 400px">


	<div class="row center-align" style="height: 100%; margin-top: 100px">

	    <div class="col s4 " style="padding-left: 5em; padding-right: 5em">
	        <i class="large material-icons animated infinite tada " style="color: #FF9800">gavel</i>
	        <h3>Fight</h3>
	        <p>
	        	Create your army to defeat all your opponents and be able to move up in the rankings. Upgrade your barracks to unlock all units and thus have more chances of victory. We see you soon in the top of the rankings
	        </p>
	    </div>
	    <div class="col s4" style="padding-left: 5em; padding-right: 5em">
	        <i class="large material-icons animated infinite tada" style="color: #FF9800">compare_arrows</i>
	        <h3>Trade</h3>
	        <p>
	        	Help your allies to form a partnership with your colleagues and be able to defeat all the enemies. Take your workers to their cities loaded with resources to help them defend an imminent attack
	        </p>
	    </div>
	    <div class="col s4" style="padding-left: 5em; padding-right: 5em">
	        <i class="large material-icons animated infinite tada" style="color: #FF9800">lightbulb_outline</i>
	        <h3>Strategy</h3>
	        <p>
	        	Carefully elaborated a strategy in order to become the domain of everyone. Look at the map to see if you're surrounded by enemies and be able to anticipate their attacks. Ask for help from your friends if you are in a delicate situation to keep on top of the rankings
	        </p>
	    </div>

    </div>

</div>

{% endblock %}