{% extends "baseGame.html" %}

{% block title %}

{% endblock %}

{% block content %}
{% load staticfiles %}

{% if faccionusuario == 'orcos' %}
<div class="row full-height valign-wrapper center-align no-margin" id="imagenResponsiveFondoPrincipalOrcos">

<div class="col s12 m4 l2" ><p></p></div>
    <div class="col s12 m4 l8" style="margin-top:150px">
    	<div class="row">
        <div class="col s6 offset-s3">
          <div class="card amber lighten-2">
            <div class="card-content white-text">
              <span class="card-title">SEND MESSAGE!</span>
              <center>
                <i class="material-icons " style="font-size: 100px;">email</i>
              		
              				

                <form action="/game/messages/sendComplete/" method="post">{% csrf_token %}
    <center><table border="0" width="600" height="300" >
      <tr height="30">
          <td>


            <div class="input-field col s12">
            <select name="receptor">
              
            {% for x in jugadorestodosbuenos %}
              <option value="{{x}}">{{x}}</option>
            {% endfor %}
            </select>
            <label>Receiver: </label>
          </div>
            </td>
        </tr>
        <tr height="30">
          <td>
            <div class="input-field col s12">
            <input placeholder="Title" type="text" name="asunto" size="70" />
            <label for="textarea1">Title</label>
          </div>
            </td>
        </tr>
        <tr>
          <td><div class="input-field col s12">
            <textarea placeholder="Message" class="materialize-textarea" name="contenido" rows="15" cols="70"></textarea>
            <label for="textarea1">Message</label>
          </div>
            </td>
        </tr>
    </table></center>
    <br />
    <input type="hidden" name="userid" value="{{user}}"/>
    <center>
<button class="btn waves-effect waves-light" type="submit" name="action" value="enviar">SEND
    <i class="material-icons right">send</i>
  </button>
    </center>
    </form>
	              				


                
                </center>
            </div>
            <div class="card-action">
              <a href="/game/messages/">back</a>
            </div>
          </div>
        </div>
      </div>

	</div>
    <div class="col s12 m4 l2"><p></p></div>

</div>

{% endif %}
{% if faccionusuario != 'orcos' %}
<div class="row full-height valign-wrapper center-align no-margin" id="imagenResponsiveFondoPrincipalHumanos">


<div class="col s12 m4 l2" ><p></p></div>
    <div class="col s12 m4 l8" style="margin-top:150px">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card amber lighten-2">
            <div class="card-content white-text">
              <span class="card-title">SEND MESSAGE!</span>
              <center>
                <i class="material-icons " style="font-size: 100px;">email</i>
                  
                      

                <form action="/game/messages/sendComplete/" method="post">{% csrf_token %}
    <center><table border="0" width="600" height="300">
      <tr height="30">
          <td>


            <div class="input-field col s12">
            <select name="receptor">
              
            {% for x in jugadorestodosbuenos %}
              <option value="{{x}}">{{x}}</option>
            {% endfor %}
            </select>
            <label>Receiver: </label>
          </div>
            </td>
        </tr>
        <tr height="30">
          <td>
            <div class="input-field col s12">
            <input placeholder="Title" type="text" name="asunto" size="70" />
            <label for="textarea1">Title</label>
          </div>
            </td>
        </tr>
        <tr>
          <td><div class="input-field col s12">
            <textarea placeholder="Message" class="materialize-textarea" name="contenido" rows="15" cols="70"></textarea>
            <label for="textarea1">Message</label>
          </div>
            </td>
        </tr>
    </table></center>
    <br />
    <input type="hidden" name="userid" value="{{user}}"/>
    <center>
<button class="btn waves-effect waves-light" type="submit" name="action" value="enviar">SEND
    <i class="material-icons right">send</i>
  </button>
    </center>
    </form>
                        


                
                </center>
            </div>
            <div class="card-action">
              <a href="/game/messages/">back</a>
            </div>
          </div>
        </div>
      </div>

  </div>
    <div class="col s12 m4 l2"><p></p></div>

</div>
{% endif %}




{% endblock %}