{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
{% load staticfiles%}


<div class="row">
        <div class="col s6 offset-s3" style="margin-top:40px">
          <div class="card amber lighten-2">
            <div class="card-content white-text">
              <span class="card-title">REGISTER NOW!</span>
              <center>
                	<p>Register error! please try it again.</p>
              </center>
            </div>
            <div class="card-action">
              <a href="/accounts/choose_faction/">BACK</a>
            </div>
          </div>
        </div>
      </div>

                


{% endblock %}