{% extends "baseGame.html" %}

{% block title %}

{% endblock %}

{% block content %}
{% load staticfiles %}

{% if faccionusuario == 'orcos' %}
<div class="row full-height valign-wrapper center-align no-margin" id="imagenResponsiveFondoPrincipalOrcos">

<div class="col s12 m4 l2" ><p></p></div>
    <div class="col s12 m4 l8" style="margin-top:150px">
    	<div class="row">
        <div class="col s6 offset-s3">
          <div class="card amber lighten-2">
            <div class="card-content white-text">
              <span class="card-title">TRADE REPORTS!</span>
              <center>
                <i class="material-icons " style="font-size: 100px;">description</i>
                <font color="black"><b>
              		<p>Welcome to yours TRADE REPORTS.</p>
                </b></font>
              				
	              				

<table border="0" >
      <tr>
          <td>
              <font color="#000000"><center>STATUS</center></font>
            </td>
            <td>
              <font color="#000000"><center>HOUR</center></font>
            </td>
           
            <td>
            </td>
        </tr>
                      
          {% for x in mensajes %}
              <tr>
                
                          <td>
                              <font color="#000000">
                                COMPLETED!
                              </center></font>
                            </td>
                            <td>
                              <font color="#000000"><center>{{x.date}}</center></font>
                            </td>
                            
                            <td>
                              <a href="/game/reports/trade2/{{x.id}}" style="text-decoration: underline;">READ</a>
                            </td>
                        </tr>
                        {% endfor %}

    </table>

                
                </center>
            </div>
            <div class="card-action">
               <a href="/game/reports/">back</a>
            </div>
          </div>
        </div>
      </div>

	</div>
    <div class="col s12 m4 l2"><p></p></div>

</div>

{% endif %}
{% if faccionusuario != 'orcos' %}
<div class="row full-height valign-wrapper center-align no-margin" id="imagenResponsiveFondoPrincipalHumanos">


<div class="col s12 m4 l2" ><p></p></div>
    <div class="col s12 m4 l8" style="margin-top:150px">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card amber lighten-2">
            <div class="card-content white-text">
              <span class="card-title">TRADE REPORTS!</span>
              <center>
                <i class="material-icons " style="font-size: 100px;">description</i>
                <font color="black"><b>
                  <p>Welcome to yours TRADE REPORTS.</p>

                </b></font>
                      
                        

<table border="0" >
      <tr>
          <td>
              <font color="#000000"><center>STATUS</center></font>
            </td>
            <td>
              <font color="#000000"><center>HOUR</center></font>
            </td>
           
            <td>
            </td>
        </tr>
                      
          {% for x in mensajes %}
              <tr>
                
                          <td>
                              <font color="#000000">
                                COMPLETED!
                              </center></font>
                            </td>
                            <td>
                              <font color="#000000"><center>{{x.date}}</center></font>
                            </td>
                            
                            <td>
                              <a href="/game/reports/trade2/{{x.id}}" style="text-decoration: underline;">READ</a>
                            </td>
                        </tr>
                        {% endfor %}

    </table>

                
                </center>
            </div>
            <div class="card-action">
               <a href="/game/reports/">back</a>
            </div>
          </div>
        </div>
      </div>

  </div>
    <div class="col s12 m4 l2"><p></p></div>

</div>
{% endif %}




{% endblock %}